#board {
  max-width: 600px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
}

.card {
  border-width: 2px;
  border-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 2px;
}


#status {
  text-align: center;
  font-size: 25px;
  color: white;
}

body {
  background-color: whitesmoke;
}